body{
  background-color: olive;
}
.App{
  background-color: orange;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
  border-radius: 8%;
}
input.to-do-input{
  margin: 10%;
}
button{
  margin-left: 5%;
}
li.list{
  text-align: left;
  list-style: none;
  margin: 1% 5% 1% 10%;
  width: 33%;
  border: 2px solid white;
  padding-left: 15%;
  padding-right: 5%;
}
input[type="checkbox" i]{
  margin-top: 2%;
  width: 33%;
}
ul.theList{
  height: 5vh;
  padding: 0;
}
button.remove{
  margin:1% 10% 1% 10%;
}
h1{
  padding-top: 10%;
  text-align: center;
  color: white;
}



